@model XmlApp.ViewModels.GumrukViewModel

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    @foreach (var item in Model.Columns)
                                    {
                                        <th>@item</th>
                                    }


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.data)
                                {
                                    <tr>
                                        <td>@item.FaturaNo</td>
                                        <td>@item.FaturaTuru</td>
                                        <td>@item.FaturaTarih</td>
                                        <td>@item.OdemeSekli</td>
                                        <td>@item.FaturaTeslimSekli</td>
                                        <td>@item.FaturaTutari</td>
                                        <td>@item.FaturaParaBirimi</td>
                                        <td>@item.FonDekontDekontNo</td>
                                        <td>@item.FonDekontTarih</td>
                                        <td>@item.FonDekontTutar</td>
                                        <td>@item.FonDekontTutarPB</td>
                                        <td>@item.FonDekontKullanilan</td>
                                        <td>@item.FonDekontKullanilanPB</td>
                                        <td>@item.FonDekontKullanilanDolar</td>
                                        <td>@item.BelgeNo</td>
                                        <td>@item.SerbestBolgeAdi</td>
                                        <td>@item.KayitTarihi</td>
                                        <td>@item.DisReferansNo</td>
                                        <td>@item.GumrukId</td>
                                        <td>@item.FormDurumu</td>
                                        <td>@item.FirmaTicaretUnvani</td>
                                        <td>@item.FirmaFaaliyetRuhsatiNo</td>
                                        <td>@item.FirmaFaaliyetRuhsatiKonusu</td>
                                        <td>@item.DepoKullanimBelgeliFirma</td>
                                        <td>@item.DepoKullanimBelgeNo</td>
                                        <td>@item.FormuDolduraninAdi</td>
                                        <td>@item.FirmaTelefonu</td>
                                        <td>@item.GumBeyannameNo</td>
                                        <td>@item.GumTescilTarihi</td>
                                        <td>@item.GumTescilNo</td>
                                        <td>@item.GumIslemiOnaylayaninAdiSoyadi</td>
                                        <td>@item.GumMuhOnaylayanAdi</td>
                                        <td>@item.GumMuhTescilNumarasi</td>
                                        <td>@item.GumMuhTescilTarihi</td>
                                        <td>@item.AdiTicaretUnvani</td>
                                        <td>@item.Adresi</td>
                                        <td>@item.PostaKodu</td>
                                        <td>@item.Ulke</td>
                                        <td>@item.Il</td>
                                        <td>@item.Ilce</td>
                                        <td>@item.Telefon1</td>
                                        <td>@item.Telefon2</td>
                                        <td>@item.Telefon3</td>
                                        <td>@item.Faks1</td>
                                        <td>@item.Faks2</td>
                                        <td>@item.EPosta</td>
                                        <td>@item.OrtakDepo</td>
                                        <td>@item.Kantar</td>
                                        <td>@item.YuklemeBosaltma</td>
                                        <td>@item.IsMakinasi</td>
                                        <td>@item.Ellecleme</td>
                                        <td>@item.KoordinasyonHizmeti</td>
                                        <td>@item.DigerTalepEdilenHizmetler</td>
                                        <td>@item.SevkiyatSekliAdi</td>
                                        <td>@item.SbifGumrukBilgileriId</td>
                                        <td>@item.SbifBilgiFisiId</td>
                                        <td>@item.MalKalemUsdToplami</td>
                                        <td>@item.MalKalemId</td>
                                        <td>@item.SiraNo</td>
                                        <td>@item.GumrukSiraNo</td>
                                        <td>@item.ReferansFormTipi</td>
                                        <td>@item.ReferansFormNo</td>
                                        <td>@item.ReferansFormYil</td>
                                        <td>@item.ReferansFormSiraNo</td>
                                        <td>@item.gtip</td>
                                        <td>@item.Cins</td>
                                        <td>@item.Mensei</td>
                                        <td>@item.GeldigiGidecegiUlke</td>
                                        <td>@item.BirinciMiktar</td>
                                        <td>@item.BirinciBirim</td>
                                        <td>@item.KapTuru</td>
                                        <td>@item.KapAdedi</td>
                                        <td>@item.MalBedeli</td>
                                        <td>@item.MalBedeliParaBirimi</td>
                                        <td>@item.NavlunBedeli</td>
                                        <td>@item.NavlunBedeliParaBirimi</td>
                                        <td>@item.SigortaBedeli</td>
                                        <td>@item.SigortaBedeliParaBirimi</td>
                                        <td>@item.BrutAgirlik</td>
                                        <td>@item.MalKalemTeslimSekli</td>
                                        <td>@item.VergiKimlikNo</td>
                                        <td>@item.VergiDairesi</td>
                                        <td>@item.AdiUnvani</td>
                                        <td>@item.WebAdresi</td>
                                        <td>@item.IslemYonu</td>
                                        <td>@item.IslemTuru</td>
                                        <td>@item.IslemKonusu</td>
                                        <td>@item.IslemKonusuTicari</td>
                                        <td>@item.IslemKonusuTicariOlmayan</td>
                                    </tr>
                                }

                            </tbody>
                            @*  <tfoot>
                            <tr>
                            <th>Rendering engine</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                            <th>CSS grade</th>
                            </tr>
                            </tfoot> *@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section CustomScripts {
    <link rel="stylesheet" href="~/css/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/datatables/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/datatables/buttons.bootstrap4.min.css">
    <!-- DataTables  & Plugins -->
    <script src="~/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatables/dataTables.responsive.min.js"></script>
    <script src="~/js/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/js/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/js/datatables/jszip.min.js"></script>
    <script src="~/js/datatables/pdfmake.min.js"></script>
    <script src="~/js/datatables/vfs_fonts.js"></script>
    <script src="~/js/datatables/buttons.html5.min.js"></script>
    <script src="~/js/datatables/buttons.print.min.js"></script>
    <script src="~/js/datatables/buttons.colVis.min.js"></script>
    <script src="~/js/document/Index.js"></script>
}